@model MedRideCMS.ViewModels.CustomerViewModels.CustomerLookupViewModel

@{
    ViewBag.Title = "CustomerLookup";
}




<div class="container">
    <div class="row>">
        <div class="col-lg-10 col-lg-offset-2">
            <h2>Customer Lookup</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    @Html.ActionLink("Home", "Index")
                </li>
                <li role="presentation" class="active">
                    @Html.ActionLink("Customer Lookup", "CustomerLookup")
                </li>
                <li role="presentation">
                    @Html.ActionLink("New Customer", "NewCustomer")
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            @using (Html.BeginForm("CustomerLookupResult", "Customer", FormMethod.Post, new { @class = "form-horizontal text-right", autocomplete = "on" }))
            {
                <fieldset class="customer-form-fieldset">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.SearchParams.FirstName, new { @class = "col-lg-4 customer-search-label" })
                                @Html.TextBoxFor(m => m.SearchParams.FirstName, new { @class = "col-lg-8" })
                                @Html.ValidationMessageFor(m => m.SearchParams.FirstName)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.SearchParams.LastName, new { @class = "col-lg-4" })
                                @Html.TextBoxFor(m => m.SearchParams.LastName, new { @class = "col-lg-8" })
                                @Html.ValidationMessageFor(m => m.SearchParams.LastName)
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.SearchParams.Address, new { @class = "col-lg-4" })
                                @Html.TextBoxFor(m => m.SearchParams.Address, new { @class = "col-lg-8" })
                                @Html.ValidationMessageFor(m => m.SearchParams.Address)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.SearchParams.City, new { @class = "col-lg-4" })
                                @Html.TextBoxFor(m => m.SearchParams.City, new { @class = "col-lg-8" })
                                @Html.ValidationMessageFor(m => m.SearchParams.City)
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.SearchParams.StateId, new { @class = "col-lg-4" })
                                <div class="col-lg-8 state-dropdown-container">
                                    @Html.DropDownListFor(m => m.SearchParams.StateId, new SelectList(Model.States, "Id", "Name"), "Select State", new { @class = "form-control temp input-sm" })
                                </div>
                                @Html.ValidationMessageFor(m => m.SearchParams.StateId)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.SearchParams.Zip, new { @class = "col-lg-4" })
                                @Html.TextBoxFor(m => m.SearchParams.Zip, new { @class = "col-lg-8" })
                                @Html.ValidationMessageFor(m => m.SearchParams.Zip)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-2">
                                @Html.AntiForgeryToken()
                                <div class="col-md-3"></div>
                                <button class="btn btn-primary col-md-6">Search</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

    

