@model MedRideCMS.ViewModels.CustomerViewModels.CustomerTableViewModel
@using MedRideCMS.Models

@{ 
    var pagedResult = Model.PagedResult;

    var pageNavList = pagedResult.GetPageNavigationList(5);
}

<nav aria-label="Search Result Page Navigator">
    <h5>Showing Page @(pagedResult.Page + 1) of @pagedResult.TotalNumPages</h5>
    <ul id="page-nav-list" class="pagination">
        <li>

            <a href="@Url.RouteUrl(new RouteValueDictionary(Model.ReturnRouteValues) { { "Page", pagedResult.FirstPage }, { "SortBy", Model.SortByType } })" aria-label="first-page">
                <span aria-hidden="@(pagedResult.IsFirstPage ? "true" : "false")">&laquo;</span>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(new RouteValueDictionary(Model.ReturnRouteValues) { { "Page", pagedResult.PreviousPage }, { "SortBy", Model.SortByType } })" aria-label="Previous">
                <span aria-hidden="@(pagedResult.IsFirstPage ? "true" : "false")">&lsaquo;</span>
            </a>
        </li>


        @{for (var i = 0; i < pageNavList.Length; i++)
            {
                var isCurrPage = pageNavList[i] == pagedResult.Page ? true : false;

                <li class="@(isCurrPage ? "active" : "")">
                    <a id="@(isCurrPage ? "current-page" : "")" href="@Url.RouteUrl(new RouteValueDictionary(Model.ReturnRouteValues) { { "Page", pageNavList[i] }, { "SortBy", Model.SortByType } })">
                        @(pageNavList[i] + 1)

                        <span class="sr-only">@(isCurrPage ? "(current)" : "")</span>
                    </a>
                </li>
            }
        }


        <li>
            <a href="@Url.RouteUrl(new RouteValueDictionary(Model.ReturnRouteValues) { { "Page", pagedResult.Page < pagedResult.TotalNumPages - 1 ? pagedResult.Page + 1 : pagedResult.Page }, { "SortBy", Model.SortByType } })" aria-label="Next">
                <span aria-hidden="@(pagedResult.Items.Count() <= pagedResult.PageSize || pagedResult.Page == pagedResult.TotalNumPages ? "true" : "false")">&rsaquo;</span>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl(new RouteValueDictionary(Model.ReturnRouteValues) { { "Page", pagedResult.TotalNumPages - 1 }, { "SortBy", Model.SortByType } })" aria-label="last-page">
                <span aria-hidden="@(pagedResult.Items.Count() <= pagedResult.PageSize || pagedResult.Page == pagedResult.TotalNumPages ? "true" : "false")">&raquo;</span>
            </a>
        </li>
    </ul>

</nav>

